/* 通用設定 */
body{
	margin: 0;
	white-space: nowrap;
}
a{
	display: block;
	text-decoration: none;
	line-height: 30px;
}
ul{	/*  取消預設的list設定 */
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
.text{
	font-weight: 500;
}
.text-bold{
	font-weight: bold;
}
/* 通用設定END */

/* 排版&定位 */
	/* 	navbar */
nav{
	height: 55px;
}
nav .container{
	overflow: hidden;
	margin: 0 10%;
}
.navbar-header{
	display: inline-block;
	padding: 16px 0;
}

.navbar-collapse{
	float: right;
}
.navbar-right a{
	padding: 3px 15px;
	margin: 10px 0;
}
.navbar-right > li{
	float: left;
}
.homebtn{
	margin: 0 10px;
}
.dropdown-menu{
	position: absolute;
	right: 10%;
	top: 55px;
	min-width: 100px;
}
	/* navbarEND */

	/* banner */
.banner{
	height: 100px;
}
.banner > .container{
	margin: 0 15%;
	padding: 25px 0;
}
	/* bannerEND */

/* 排版&定位END */

/* 文字設定 */
.homebtn span{
	color: white;
}
.dropdown-menu a, .sidebar-menu a{
	color: #707e8a;
}
.banner span{
	color: white;
}
.banner-name{
	font-size: 30px;
}
.banner-extInfo{
	font-size: 15px;
}

/* 文字設定END */


/* 初始bgc */
.homebtn{
	background-color: #707e8a;
}
.dropdown-menu{
	background-color: #f7f9fa;
}
.banner{
	background-color: #c4bdaf;
}
/* 初始bgcEND */


/* hover */
.homebtn a:hover{
	background-color: #4d5c68;
	border-radius: 3px;
}
.dropdown-menu a:hover{
	background-color: #e8eff2;
}
/* hoverEND */

/* click */
.dropdown-menu {
	display: none;
}
.dropdown-btn a:focus + ul {
	display: block;
}
/* clickEND */

/* 陰影&圓角&其他 */
.homebtn{
	border-radius: 3px;
}
.dropdown-menu{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
/* 陰影&圓角&其他END */